.calendar-title {
  text-align: center;
}
.calendar-table {
  margin: 0 auto;
  .is-today {
    color: red;
  }
  td {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
  }
}
